// Headings
// -------------------------

.hdg1 {
  font-size: @baseFontSize * 2.75;
  line-height: @baseLineHeight * 2;
  small {
    font-size: @baseFontSize * 1.75;
  }
}
.hdg2 {
  font-size: @baseFontSize * 2.25;;
  line-height: @baseLineHeight * 2;
  small {
    font-size: @baseFontSize * 1.25;
  }
}
.hdg3 {
  font-size: @baseFontSize * 1.75;
  line-height: @baseLineHeight * 1.5;
  small {
    font-size: @baseFontSize;
  }
}
